<div class="form">
    <%= form_for [question.form_sheet, question], remote: true do |f| %>

        <%= f.hidden_field :status, value: 'not_answer' %>

        <%= f.text_field :content %>

        <%= f.submit %>
    <% end %>
    <%= link_to 'destroy', form_sheet_question_path(question.form_sheet, question), method: :delete, remote: true %>
</div>

