<h1>team new</h1>

<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h2 class="card-title"><%= t('.title_place') %></h2>
      </div>

      <div class="card-body">

        <%= form_for @team do |f| %>
          
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: "form-control", placeholder: "자세한 설명을 넣어주세요" %>
          </div>
          <div class="d-flex justify-content-end align-items-center">
            <button type="submit" class="btn bg-blue ml-3"><%= t('.submit_place') %> <i class="icon-paperplane ml-2"></i></button>
          </div>
        <% end %>


      </div>
    </div>

  </div>
</div>