<div class="card card-body">
  <div class="card-title">
    <h2><%= sanitize @team.name %></h2>
  </div>
  <p class="mb-3">
    대표 : <%= @team.team_users&.captain&.first&.user.name %>
  </p>
  <hr>
  <div class="card-text">
    <%= sanitize @team.description %>
  </div>

  <% if current_user.my_team?(@team) %>
    <span class="btn btn-outline-primary my-5">당신은 이 팀에 소속되어 있습니다.</span>
  <% else %>
    <%= link_to "#{@apply_team_user ? '신청 취소하기' : '신청하기' }","", class: "btn btn-lg #{@apply_team_user ? "btn-danger" : "btn-primary" } mt-5 w-50 mx-auto", id: "apply-btn" %>
  <% end %>
</div>

<% if current_user.manager?(@team) %>
  <h2>팀원 관리 - 운영진 권한</h2>

  <!-- 팀원 리스트 -->
  <div class="card">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">팀원 리스트</h5>
      <p class="text-secondary">
        * 자신보다 낮은 등급의 멤버만 관리할 수 있습니다.
      </p>
    </div>
    <div class="card-body">
      <ul class="media-list">

        <% @team_users.members.each do |team_user| %>
          <% if user = team_user.user %>

            <li class="media">
              <div class="mr-3">
                <a href="#">
                  <img src="/limitless/assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="40" height="40" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-title font-weight-semibold"><%= user.name %></div>
                <span class="text-muted"><%= user.email %></span>
              </div>

              <div class="align-self-center ml-3 dropdown">
                <span class="btn btn-<%= team_user.make_color %> dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= team_user.role %></span>
                <% if current_user != user %>
                  <% if team_user.get_role_index(team_user.role) < @current_team_user.get_role_index(@current_team_user.role) %>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <% TeamUser::TEAM_MEMBERS.reverse.each do |role| %>
                          <% if team_user.get_role_index(role) <= @current_team_user.get_role_index(@current_team_user.role) %>
                            <%= link_to "#{role.upcase}", change_role_team_user_path(team_user, role: role), class: "role-button dropdown-item #{role.to_s == team_user.role.to_s ? "bg-#{team_user.make_color}" : "" }", id: "team_user_#{team_user.id}_role_#{role}" %>
                          <% end %>
                        <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="" class="role-button dropdown-item">본인 계정입니다.</a>
                  </div>
                <% end %>
              </div>


            </li>
          <% end %>
        <% end %>
      </ul>
    </div>


  </div>

  <!-- 신청 리스트 -->
  <div class="card">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">지원자 리스트</h5>
    </div>
    <div class="card-body">
      <ul class="media-list">
        <% @team_users.apply.each do |team_user| %>
          <% if user = team_user.user %>
            <li class="media">
              <div class="mr-3">
                <a href="#">
                  <img src="/limitless/assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="40" height="40" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-title font-weight-semibold"><%= user.name %></div>
                <span class="text-muted"><%= user.email %></span>
              </div>

              <div class="align-self-center ml-3">
                <div class="list-icons list-icons-extended" id="team_user-btn-group-<%= team_user.id %>">
                  <%= link_to  "수락", accept_team_user_path(team_user), class: "btn btn-sm btn-primary", id: "accept-#{team_user.id}", remote: true %>
                  <%= link_to  "거절", refuse_team_user_path(team_user), class: "btn btn-sm btn-secondary",id: "refuse-#{team_user.id}", remote: true %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- 거절 리스트 -->
  <div class="card">
    <div class="card-header header-elements-inline">
      <h5 class="card-title">거절 리스트</h5>
    </div>
    <div class="card-body">
      <ul class="media-list">

        <% @team_users.rejected.each do |team_user| %>
          <% if user = team_user.user %>
            <li class="media"  id="rejected-list-<%= team_user.id %>">
              <div class="mr-3">
                <a href="#">
                  <img src="/limitless/assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="40" height="40" alt="">
                </a>
              </div>

              <div class="media-body">
                <div class="media-title font-weight-semibold"><%= user.name %></div>
                <span class="text-muted"><%= user.email %></span>
              </div>

              <div class="align-self-center ml-3">
                <%= link_to  "제거", team_user_path(team_user), method: :delete, class: "btn btn-sm btn-primary", remote: true %>
                <span class="btn btn-sm btn-secondary">거절됨</span>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>


  </div>

  <hr>

  <%= link_to "수정", edit_team_path(@team), class: "btn btn-outline-warning" %>
  <%= link_to "삭제", team_path(@team), method: :delete, class: "btn btn-outline-danger", data: {confirm: "팀을 정말 삭제하시겠습니까? \n모든 팀원이 팀에서 사라집니다."} %>
<% end %>



<script>
  $("#apply-btn").on("click", function(){
    $.get({
        url: "<%= toggle_team_users_path(team_id: @team.id) %>"
      }).done(function(data) {
        if(data.is_new){
          new PNotify({
            // title: 'Danger notice',
            text: "<%= @team.name %> 팀에 신청했습니다.",
            // icon: 'icon-blocked',
            type: 'success'
        });
          $("#apply-btn").html("신청 취소하기");
          $("#apply-btn").removeClass("btn-primary");
          $("#apply-btn").addClass("btn-danger");
        }else{
          new PNotify({
            // title: 'Danger notice',
            text: "<%= @team.name %> 팀에 신청을 취소했습니다.",
            // icon: 'icon-blocked',
            type: 'error'
          });
          $("#apply-btn").removeClass("btn-danger");
          $("#apply-btn").addClass("btn-primary");
          $("#apply-btn").html("신청하기");
        }
      })
  });
</script>
