<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 form-panel" style="display:none">
    <div class="panel panel-default card-view">
      <div class="panel-heading">
        <div class="pull-left">
          <h6 class="panel-title txt-dark">단답형</h6>
        </div>
        <div class="pull-right">
            <a class="pull-left inline-block mr-15" data-toggle="collapse" href="#collapse_1" aria-expanded="true">
                <i class="zmdi zmdi-chevron-down"></i>
                <i class="zmdi zmdi-chevron-up"></i>
            </a>
            <div class="pull-left inline-block dropdown mr-15">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" role="button"><i class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu bullet dropdown-menu-right"  role="menu">
                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i>option 1</a></li>
                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-share" aria-hidden="true"></i>option 2</a></li>
                    <li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i>option 3</a></li>
                </ul>
            </div>
            <a href="#" class="pull-left inline-block refresh mr-15">
                <i class="zmdi zmdi-replay"></i>
            </a>
            <a href="#" class="pull-left inline-block full-screen mr-15">
                <i class="zmdi zmdi-fullscreen"></i>
            </a>
            <%= link_to form_sheet_question_path(question.form_sheet, question), method: :delete, remote: true do %>
                <i class="zmdi zmdi-close"></i>
            <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div  class="panel-wrapper collapse in">
            <div  class="panel-body">
                
                <%= form_for [question.form_sheet, question], remote: true do |f| %>

                    <%= f.hidden_field :status, value: 'not_answer' %>

                    <%= f.text_field :content %>

                    <%= f.submit %>
                <% end %>
                <%= link_to 'destroy', form_sheet_question_path(question.form_sheet, question), method: :delete, remote: true %>
            </div>
        </div>
    </div>
</div>
