<%= content_for :right_content do %>
    <%= render 'shared/right_content' %>
<% end %>
<div class="d-flex align-items-start flex-column flex-md-row">
  <div class="card">
    <div class="card-header header-elements-inline">
      <h6 class="card-title">폼 시트 만들기이이이!!만들어버리기기기이이!!!</h6>
      <div class="header-elements">
        <div class="list-icons">
          <a class="list-icons-item" data-action="collapse"></a>
          <a class="list-icons-item" data-action="reload"></a>
          <a class="list-icons-item" data-action="remove"></a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= form_with(model: @form_sheet, local: true) do |form| %>
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: "form-control", placeholder: "제목을 입력하세요" %>        
        </div>
        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_area :content, class: "form-control" ,rows:3, cols:3, placeholde: "내용을 입력하세요"%>
        </div>
      <% end %>
    </div>
  </div>

  <% @form_sheet.questions.not_answer.each do |question| %>
    <div class="card" id="question-<%= question.id %>">
      <%= render "questions/#{question.type_under}/wrapper", question: question %>    
    </div>
  <% end %>

</div>