<div class="panel panel-default card-view" style="position:fixed; right: 50%; bottom:10%">
  <div class="panel-heading">
    <div class="pull-left">
      <h6 class="panel-title txt-dark">Fancy dropdown 1</h6>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-wrapper collapse in">
    <div class="panel-body">
      <div class="btn-group mt-40">
        <div class="dropdown">
          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
          Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" role="menu" style="top:-20vh">
            <li><%= link_to form_sheet_questions_path(@form_sheet, {type: "TextForm"}), method: :post, remote: true  do %>단답형 <%end%></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_with(model: @form_sheet, local: true) do |form| %>
  <% if @form_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_sheet.errors.count, "error") %> prohibited this form_sheet from being saved:</h2>

      <ul>
      <% @form_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<button class ="plus" data-type="TextForm">
  +
</button>


<div class="question_wrapper">
  <% @form_sheet.questions.not_answer.each do |question| %>
    <div id="question-<%= question.id %>">
      <%= render "questions/#{question.type_under}", question: question %>
      <%= render "questions/show_#{question.type_under}", question: question, disable: true %>
    </div>
  <% end %>
</div>





